/* Social Icons */
.social-icons {
  margin-top: 1rem;
  text-align: center;
}

.social-icons a {
  color: #0073e6;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #005bb5;
}
